<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><font style="vertical-align: inherit;">ClipKart</font></h1>
        <p class="lead text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A short description about the album below (its contents, origin, etc.). Keep it short and sweet, but not too short that people won't skip this album completely.</font></font></p>
        <p>
          <a  class="btn btn-primary my-2" routerLink="/seller/product"><font style="vertical-align: inherit;" >Product Section</font></a> &nbsp; &nbsp;
          <a class="btn btn-secondary my-2" routerLink="/sign-up"><font style="vertical-align: inherit;">Register</font></a>
        </p>
      </div>
    </div>
  </section>